build
*DS_Store*
.npm/
TData/
node_modules/
a
b
p
d
z

*.swo
*.swp
*.bak
*.env
*.changelog
*.json
*.ini
*.tgz
*.log
*__pycache__*



!package.json
!Dockerrun.aws.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.ym,l
*.zip
