@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {

  h2 {
    @apply text-2xl
  }
  h3 {
    @apply text-xl
  }
}

@layer components {
  
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max top-5 rounded-md shadow-md
    text-white text-xs bg-black 
    transition-all duration-100 origin-left
    transform scale-0;
  }
  
  .search {
    @apply
    flex flex-row items-center justify-start
    bg-gray-700 bg-opacity-50 text-gray-500
    p-6 h-11 m-3 rounded-full shadow-md
    transition duration-300 ease-in-out
  }

  .search-input {
    @apply w-full
    bg-transparent outline-none 
    text-gray-500 placeholder-gray-500
    pl-3 rounded;
  }


  
}

@tailwind utilities;
