@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {

  h2 {
    @apply text-2xl
  }
  h3 {
    @apply text-xl m-3
  }
}

@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 m-2 text-white 
    hover:bg-gray-600 dark:bg-gray-800 
    rounded-3xl transition-all duration-300 ease-linear
    cursor-pointer;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white text-xs bg-gray-900 
    transition-all duration-100 origin-left
    transform scale-0;
  }

  .search {
    @apply
    flex items-center justify-start
    bg-gray-700 bg-opacity-50 
    text-gray-500 p-6 h-11 w-72 m-3
    rounded-full shadow-md transition duration-300 ease-in-out
  }

  .search-input {
    @apply w-full
    bg-transparent outline-none 
    text-gray-500 placeholder-gray-500
    pl-3 rounded;
  }


  
}

@tailwind utilities;
