@import-normalize;
@tailwind base;
@tailwind components;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {

  h2 {
    @apply text-2xl
  }
  h3 {
    @apply text-xl
  }
}

@layer components {

  .search {
    @apply
    flex items-center justify-start
    bg-gray-700 bg-opacity-50 
    text-gray-500 p-6 h-11 w-72 m-3
    rounded-full shadow-md transition duration-300 ease-in-out
  }

  .search-input {
    @apply w-full
    bg-transparent outline-none 
    text-gray-500 placeholder-gray-500
    pl-3 rounded;
  }


  
}

@tailwind utilities;
